{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring-jetty/ring-jetty-adapter {:mvn/version "0.1.0-SNAPSHOT"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        metosin/reitit-ring {:mvn/version "0.6.0"}}}
